<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions,Version=4.0.0.0,Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
  </configSections>
  <appSettings>
    <!-- Please provide your Twitter API Keys here 
    <add key="TwitterConsumerKey" value="[Your consumer key]"/>
    <add key="TwitterConsumerSecret" value="[Your consumer secret]"/>
    <add key="TwitterAccessToken" value="[Your access token]"/>
    <add key="TwitterAccessTokenSecret" value="[Your token secret]"/>
    End of Twitter API Keys section -->
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="90" maxRequestLength="4194000"/>
    <trust level="Full"/>
    <!--<sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"/>
      </providers>
    </sanitizer>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
       -->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
       -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
       -->
    <siteMap defaultProvider="SamplesSiteMap">
      <providers>
        <add name="SamplesSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Samples.sitemap"/>
        <add name="WalkthroughsSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Walkthroughs.sitemap"/>
      </providers>
    </siteMap>
    <globalization culture="en-us" uiCulture="en"/>
    <!--<httpRuntime executionTimeout ="90" maxRequestLength="1000000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>-->
    <httpHandlers/>
    <machineKey validationKey="5B3E9EDF27DEE993B92E84BBB2002597945DB538309E36B1C56E1D4AA569585095C1EFCE6988A13B5ED99E6BF6CE0B388EF9AC39522507D48027E4603C2587B8" decryptionKey="A000E70DE7D2EFD00BA9AE3085A20A51CFA92E1A26A4200A4C31FEC923413A79" validation="SHA1" decryption="AES"/>
    <!--<trust level="Full"/>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages enableViewStateMac="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;CSharp" extension=".cs" compilerOptions="/d:NET40" type="Microsoft.CSharp.CSharpCodeProvider, System,                  Version=2.0.0.0, Culture=neutral,                   PublicKeyToken=b77a5c561934e089"/>
    </compilers>
  </system.codedom>
  <system.net>
    <mailSettings>
      <smtp from="PseudoAnonymousBot">
        <network host="smtpout.secureserver.net" password="" port="3535" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>